$background-linear: #65dfc9, #6cdbeb;
$background-linear-glass:  rgba(255,255,255,0.7),rgba(255,255,255,0.3);
$background-linear-circle:  rgba(255,255,255,1),rgba(255,255,255,0.5);
$background-linear-logo: #6266F6, #69B0EB;
$white: white;
$text: #BB87ED;
$input: #595f6e;
$border_input: #5fa8d3;
